body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(./assets/bg-wallpappers.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   

#bgColor {
    background-color: #292967;
    color: #f5f6f7;
    height: auto;
}

.wallpapper {
    margin-left: 15%;
    margin-bottom: 20px;
    margin-top: 80px;
    width: 80vw;
    
}


#section {
    margin: 50px 0 0 0;
}

#checkBox {
    border: 1px solid white;
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
}

.titulo-lenguajes-que-conoces{
    width: 100%;
    display: flex;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-left: 15px;
    justify-content: center;
    color: rgba(255, 252, 229, 0.8);
    text-decoration: underline;
}

#checkBox label {
    padding: 5px;
    margin-left: 35%;
    margin-bottom: 10px;
}
#checkBox .text-label {
    font-size: 1.5em;
    color: azure;
    padding: 10px;
    margin-left: 3%;
    
}

input[type=checkbox]{

    margin:10px !important;
    
 
 }
#nivelInglesContainer {
    margin: 0 auto;
    width: 50%;
    border: 1px solid white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    color: rgba(255, 252, 229, 0.8);
}

#nivelInglesContainer > label {
    font-size: 1.5em;
    padding: 20px;
    
}

#nivelInglesContainer > label > input {
    font-size: 1.5em;
    margin-top: 20px;
}

#nivelInglesContainer text-label{
    font-size: 1.5em;
    color: azure;
    
    
}
.nivel-ingles {
    text-decoration: underline;
}

#container-img > a > img {
    width: 20%;
    display: inline-block;
    display: inline-block;
    margin-left: 10%;
}


#container-img, img :hover {
   cursor: pointer;
}